<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock title %}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{% trans "Book Manager" %}</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'books:list' %}">{% trans "Books" %}</a></li>
        <li><a href="{% url 'authors:list' %}">{% trans "Authors" %}</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
          <li><a href="{% url 'books:list' %}">{% trans "Books" %}</a></li>
          <li><a href="{% url 'authors:list' %}">{% trans "Authors" %}</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/init.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  {% block js %}{% endblock js %}
  </body>
</html>
