{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Book list" %} {% endblock title %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s8 offset-s2">
				<h1 class="center-align">{% trans "Book list" %}</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s8 offset-s2">
			<table class="centered striped">
				<thead>
					<tr>
							<th data-field="name">{% trans "Name" %}</th>
							<th data-field="category">{% trans "Category" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for book in books %}
						<tr>
							<td>{{ book.name }}</td>
							<td>{{ book.category }}</td>
						</tr>
					{% empty %}

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}
