{% extends "base.html" %}
{% load i18n %}
{% block title %} {% endblock title %}
{% block content %}
		<form action="." method="post" class="padding-top">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s6 offset-s3">
					<label for="id_fist_name">{% trans "First Name" %}</label>
					{{ form.first_name }}
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6 offset-s3">
					<label for="id_last_name">{% trans "Last Name" %}</label>
					{{ form.last_name }}
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6 offset-s3">
					<button class="btn waves-effect waves-light col s12" type="submit">
						{% trans "Submit" %}
					</button>
				</div>
			</div>
		</form>
{% endblock content %}
