{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Book list" %} {% endblock title %}
{% block content %}
	<div class="row padding-top">
		<div class="col s8 offset-s2">
			<table class="centered striped">
				<thead>
					<tr>
							<th data-field="name">{% trans "Name" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for author in authors %}
						<tr>
							<td>{{ author.first_name }}  {{ author.last_name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row padding-top">
		<a class="btn waves-effect waves-light col s8 offset-s2 " href="{% url 'authors:create' %}">+</a>
	</div>
{% endblock content %}
